@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaisei+Decol&family=Noto+Sans+JP:wght@100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --text-main-color: #3cce79;
  --text-accent-main-color: #de534b;
  --bg-color-main: #171717;
  --bg-sub-main-color: #2e2e2e;
  --cb: cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

/* global classes */
.font-noto {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-bar {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-sai {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-kai {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}

.text-main-color {
  color: var(--text-main-color);
}

.text-accent-color {
  color: var(--text-accent-main-color);
}

.bg-color-main {
  background-color: var(--bg-color-main);
}

.bg-sub-main-color {
  background-color: var(--bg-sub-main-color);
}

.font-7 {
  font-size: 7px;
}

.font-8 {
  font-size: 8px;
}

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-40 {
  font-size: 40px;
}

.font-white {
  color: #ffffff;
}

.font-main-color {
  color: var(--text-main-color);
}

.font-accent-color {
  color: var(--text-accent-main-color);
}

html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  background: var(--bg-sub-main-color);
}

.mobile__container {
  width: 100%;
  max-width: 402px !important;
  margin: 0 auto !important;
  background: var(--bg-color-main);
}

/* header start */
.nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 402px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 31px 18px 28px 18px;
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: var(--bg-color-main);
  background: rgba(23, 23, 23, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
}

.nav .wetlands__logo {
  font-weight: 500;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  line-height: 0.75;
}

.nav .wetlands__logo .mid {
  margin-top: -3px;
  margin-bottom: -3px;
}

.nav .wetlands__logo:hover {
  text-decoration: none;
  color: white;
}
.navBar__icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.navBar__icon img,
.navBar__icon i {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  cursor: pointer;
}

.navBar__icon img {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.navBar__icon i {
  opacity: 0;
  transform: rotate(-90deg) scale(0.6);
}

.navBar__icon.active img {
  opacity: 0;
  transform: rotate(90deg) scale(0.6);
}

.navBar__icon.active i {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.navbar__nav {
  position: fixed;
  width: 100%;
  max-width: 402px;
  background: var(--bg-color-main);
  overflow: hidden;
  height: 0;
  transform: translateY(-20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height 0.8s ease, transform 0.8s ease;
  z-index: 999;
}

.navbar__nav.show {
  height: 100vh;
  transform: translateY(0);
}

.navbar__nav .active {
  color: var(--text-main-color) !important;
}

.navbar__nav__start {
  margin-top: 10rem;
}
.navbar__nav a {
  margin-top: 50px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition-delay: 0s;
}

body:has(.navbar__nav.show) .nav {
  box-shadow: none !important;
}

.navbar__nav.show a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}

.navbar__nav a:hover {
  transition: 0.5s ease;
  text-decoration: none;
  color: var(--text-main-color);
}

/* landing */
#summer__landing {
}

#summer__landing .upper__landing {
  background: linear-gradient(rgba(0, 0, 0, 0.2)),
    url(../../assets/images/backgrounds/wetLands__summer.jpg) no-repeat center
      center;
  background-size: cover;
  object-fit: cover;
  height: 50vh;
  position: relative;
}

#summer__landing .upper__landing__text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#summer__landing .upper__landing__text h6 {
  position: absolute;
  top: 40%;
  right: 9%;
  font-weight: 350;
  color: #fff;
  letter-spacing: 3px;
}

#summer__landing .upper__landing__text h5 {
  position: absolute;
  top: 29%;
  right: -11%;
  font-weight: 550;
  color: #fff;
}

#summer__landing .upper__landing__cards {
  position: absolute;
  bottom: -10%;
  display: flex;
  padding: 0 18px;
}

#summer__landing .upper__landing__card {
  background: linear-gradient(
    90deg,
    rgba(230, 173, 22, 0.2) 0%,
    rgba(186, 198, 53, 0.04) 100%
  );
  border-radius: 20px;
  width: 112px;
  height: 80px;
  backdrop-filter: blur(17.5px);  
  margin-right: 15px;
}

#summer__landing .upper__landing__card__title {
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#summer__landing .upper__landing__card__title h5 {
  color: #fff;
  font-weight: 400;
}

#summer__landing .upper__landing__card__title h3 {
  color: #fff;
  font-weight: 400;
}

#summer__landing .upper__landing__card__title h6 {
  color: #c5c5c5;
  font-weight: 100;
}

#summer__landing .upper__landing__card__title span {
  font-size: 16px !important;
}

#summer__landing .bottom__landing__vd {
  margin-top: 70px;
}

#summer__landing .upper__landing__vd__body h4 {
  margin-top: 25px !important;
  font-weight: 600;
  color: #fff;
}

#summer__landing .upper__landing__vd__body h3 {
  margin-top: 25px !important;
  font-weight: 600;
  color: #fff;
}

#summer__landing .upper__landing__vd__body h4 {
  margin-top: 7px !important;
  font-weight: 600;
  background: linear-gradient(
    90deg, 
    rgba(230, 173, 22, 1) 0%, 
    rgba(186, 198, 53, 1) 100%);

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

#summer__landing .upper__landing__vd__body h6 {
  margin-top: 15px !important;
  font-weight: 100;
  color: #c5c5c5;
  line-height: 20px;
}

#summer__landing .upper__landing__vd__body button {
  margin-top: 26px !important;
  font-weight: 500;
  font-size: 12px;
  width: 287px;
  height: 38px;
  background: linear-gradient(
    90deg,
    rgba(230, 173, 22, 1) 0%, 
    rgba(186, 198, 53, 1) 100%);
  border: none;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;
}

/* ending */
.ending__line__1 {
  border: 1px solid;
  border-image: linear-gradient(
    90deg,
    rgba(230, 173, 22, 1) 0%, 
    rgba(186, 198, 53, 1) 100%
    )
    1;
}

.ending__line__2{
    border: 1px solid var(--bg-sub-main-color);
}

/* summer__wildLife */
#summer__wildLife {
  padding: 28px 18px 82px 18px;
}

#summer__wildLife h2 {
  color: #fff;
  text-align: center;
  font-weight: 600;
}

#summer__wildLife h4 {
  margin-top: 30px !important;
  color: #c5c5c5;
  font-weight: 100;
  text-align: center;
}

.summer__wildLife__card {
  margin-top: 50px;
  position: relative;
}

.summer__wildLife__card__header {
  position: relative;
  z-index: 1;
}

.summer__wildLife__card__header .title {
  position: absolute;
  bottom: 17%;
  left: 8%;
}

.summer__wildLife__card__header h6 {
  color: #fff;
  font-weight: 400;
}

.summer__wildLife__card__header h5 {
  color: #fff;
  font-weight: 600;
}

.summer__wildLife__card__body {
  position: relative;
  padding: 45px 25px 73px 25px;
  border-radius: 30px;
  background-color: var(--bg-sub-main-color);
  margin-top: -23px;
  z-index: 99; 
  
}

.summer__wildLife__card__body h6 {
  background: linear-gradient(
    90deg,
    rgba(230, 173, 22, 1) 0%, 
    rgba(186, 198, 53, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 450;
  text-align: center;
  line-height: 20px;
}

.summer__wildLife__card__body h5 {
  margin-top: 30px !important;
  color: #fff;
  font-weight: 500;
}

.summer__wildLife__card__body p {
  margin-top: 25px !important;
  color: #c5c5c5;
  font-weight: 300;
  line-height: 20px;
}

.summer__wildLife__card__body .card__img {
  margin-top: 30px;
}

.summer__wildLife__card__body .card__img__2 {
  position: absolute;
  bottom: -7%;
  left: 50%;
  transform: translateX(-50%);
}

.summer__wildLife__card__body .wildLife__type {
  width: 84px;
  height: 25px;
  border-radius: 70px;
  background: linear-gradient(
   90deg,
    rgba(230, 173, 22, 1) 0%, 
    rgba(186, 198, 53, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  position: absolute;
  top: -3%;
  right: 10%;
}

.summer__wildLife__card__2 {
    margin-top: 80px;
}


/* wetLands__danger */

#wetLands__danger{
    padding: 50px 0px 30px 0px;
}

#wetLands__danger h5{
    text-align: center;
    font-weight: 600;
    color: #fff;
}

#wetLands__danger .border__bottom{
    width: 10%!important;
    border: 1px solid var(--text-accent-main-color)!important;
    margin: 0 auto;
    margin-top: 15px;
}

#wetLands__danger h6{
    margin-top: 30px;
    color: #fff;
    font-weight: 200;
    line-height: 20px;
    text-align: center;
}
#wetLands__danger img{
    margin-top: 50px!important;
}

/* warning__msg */
#warning__msg{
    padding: 40px 0px;
}

#warning__msg img{
    display: block;
    margin: 0 auto;
}

#warning__msg h5{
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-top: 27px!important;
}

#warning__msg p{
    text-align: center;
    margin-top: 50px!important;
    color: #fff;
    font-weight: 400;
    line-height: 25px;
}

#warning__msg span{
    font-size: 16px!important;
    font-weight: 600!important;
    color: var(--text-accent-main-color);
}

#warning__msg h6{
    margin-top: 50px!important;
    color: #fff;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

/* wetLandsSummary */

#wetLands__summary{  
  margin-top: 60px;
  padding:119px 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.50)),url(../../assets/images/backgrounds/wetLands__fall.jpg)  no-repeat center center; 
  background-size: cover;
  position: relative;
}

#wetLands__summary a{
    display: contents;
}

#wetLands__summary .wetLands__summary__header h4{
  color: #fff;
  font-weight: 600;
  text-align: center;
}

#wetLands__summary .wetLands__summary__header h5{
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin-top: 16px;
}

#wetLands__summary .wetLands__summary__btn p{
  margin-top: 30px!important;
  width: 120px;
  height: 30px;
  margin: 0 auto;
  border-radius: 15px;   
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(15px);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff; 
}


/* footer */

footer {
  padding: 90px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .wetlands__logo {
  font-weight: 500;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  line-height: 0.75;
}

footer .wetlands__logo .mid {
  margin-top: -3px;
  margin-bottom: -3px;
}

footer .wetlands__logo:hover {
  text-decoration: none;
  color: white;
}

footer .footer__nav {
  margin-top: 39px;
  text-align: center;
}

footer .footer__nav a {
  font-size: 14px;
  font-weight: 350;
  display: block;
  margin-top: 25px;
  text-decoration: underline;
  transition: 0.5s ease;
}

footer .footer__nav a:hover {
  text-decoration: none;
  color: var(--text-main-color);
}

footer .footer__media {
  margin-top: 35px;
}

footer .footer__copyRight {
  margin-top: 40px;
  color: #c5c5c5;
  font-weight: 100;
}
